body {  
  background-image: url("/img/bg-PageRaio.png");  background-position: 30% 45%;
  background-size: cover;
  
  
  
}

.container {
  text-align: center;
  align-items: center;
  background-size: auto;
  padding-top: 20px;
}

a{
  color: #fe562c;
  text-shadow: white 0.2em 0.1em 0.2em;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: transparent;
  color:#fe562c;
  text-shadow: white 0.2em 0.1em 0.2em;
  font-weight: bold;
}

select {
  padding: 5px 5px 5px 5px;
  border: 0;
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  cursor: inherit;
  line-height: inherit;
  position: relative;
  outline: none;
  text-align: center;
  background-color: #fe562c;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  float: center;
}

footer{
  color: #fe562c;
  text-shadow: white 0.2em 0.1em 0.2em;
  font-weight: bold;
  text-align: center;
}
